<div class="">
  <button type="button" name="button" (click)="view = 'bluetooth'">Bluetooth</button>
  <button type="button" name="button" (click)="view = 'color'">Color</button>
  <button type="button" name="button" (click)="view = 'motor'">Motor</button>
  <div [ngSwitch]="view">
    <app-bluetooth *ngSwitchCase="'bluetooth'"></app-bluetooth>
    <app-color-picker *ngSwitchCase="'color'"></app-color-picker>
    <app-motor *ngSwitchCase="'motor'"></app-motor>
    <div *ngSwitchDefault>No element selected.</div>
  </div>
</div>
