.button button {
  border: none;
  outline: none;
  background: #1b9af7;
  width: 100%;
  color: white;
  height: 40px;
  border-radius: 3px;
  margin: 10px 0;
  transition: background 0.3s ease;
}

.buttons,.flex, .speed-wrapper {
  flex: 1 1 0;
}

.button button:hover {
  cursor: pointer;
  background: darken(#1b9af7, 20);
}

.speed-wrapper .input, .speed-wrapper input {
  width: 100%;
}

.speed-wrapper input {
  font-size: 2rem;
  max-width: 200px;
}
.speed-wrapper{
  margin: 0 20px;
}

.color-wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.fancy-wrapper {
  display: block;
  padding: 16px;
}
.fancy-wrapper .color-wrapper {
  display: flex;
  height: 250px;
}

.input-wrapper {
  margin-top: 16px;
  display: flex;
  border-radius: 1px;
  border: 1px solid rgb(220, 220, 220);
  padding: 8px;
  height: 32px;
  justify-content: center;
}

.color-div {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgb(220, 220, 220);
}

.text {
  flex: 1;
  font-family: 'Helvetica';
  line-height: 32px;
}
